[core]
    editor = nvim
	autocrlf = false
	whitespace = cr-at-eol
[alias]
    co = checkout
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
[fetch]
    prune = true
[user]
	email = 46653802+MarkusPriska@users.noreply.github.com
	name = Markus
